*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fab22e;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 80vmin;
    padding: 30px 40px;
    background-color: #15161a;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
}

span{
    display: block;
    width: 100%;
    font-size: 100px;
    text-align: center;
}

p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    opacity: 0;
}

.fade{
    opacity: 1;
    transition: opacity 1s;
}
button{
    display: block;
    background-color: rgb(14, 176, 230);
    border: none;
    padding: 5px;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 200;
    color: #171721;
    margin: auto;
    cursor:pointer;
}

